NEXT_PUBLIC_APTABASE_KEY='your_aptabase_key'
NEXT_PUBLIC_API_URL='https://cl.neuland-ingolstadt.de/api/ical/4/events'
OUTLINE_API_KEY='your_outline_api_key'
CL_API_KEY='your_cl_api_key'
FLIPT_URL='https://flipt.neuland.ing'
FLIPT_NAMESPACE='neuland-website'
FLIPT_CLIENT_TOKEN='your_flipt_client_token'
